.image-preview img {
    border: 30px solid black;
    border-top-color: skyblue;
    border-bottom-color: lightgreen;
    border-right-color: lightpink;
    border-left-color: #ffefd5;
}
td  {
    font-size: larger;
padding-left: 30px;
   
  }

